<div>
    <h2> Ready? </h2>
    <div>
        <button id="login-btn" class="btn btn-outline-dark mt-4"> <i class="bi bi-box-arrow-in-right"></i> Login </button>
        <button id="register-btn" class="btn btn-outline-dark mt-4"> <i class="bi bi-person-plus"></i> Register </button>
        <button id="guest-btn" class="btn btn-outline-dark mt-4"> <i class="bi bi-people"></i> Guest </button>
    </div>
</div>
