<nav class="navbar navbar-expand-md bg-warning navbar-light maps-font">
    <div class="container-fluid">
        <div class="" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto"><li></li></ul>
                <button id="nv-home" class="btn btn-outline-dark mx-2" href="#"> <i class="bi bi-house"></i> Home </button>
        </div>
    </div>
</nav>