 
<button id="sort-tab" class="btn btn-outline-light mt-4" type="button">
    Sort
</button> 
<button id="find-tab" class="btn btn-outline-light mt-4" type="button">
    Find
</button> 
<button id="create-tab" class="btn btn-outline-light mt-4" type="button">
    Create
</button> 
<button id="manage-tab" class="btn btn-outline-light mt-4" type="button">
    Pin Manage
</button>