<div class="mx-4">
    <button id="sort-tab" class="btn btn-outline-warning mt-4" type="button">
        Sort
    </button> 
    <button id="find-tab" class="btn btn-outline-warning mt-4" type="button">
        Find
    </button> 
    <button id="create-tab" class="btn btn-outline-warning mt-4" type="button">
        Create
    </button> 
    <button id="manage-tab" class="btn btn-outline-warning mt-4" type="button">
        Manage
    </button>
</div>
    