<!-- Navbar -->
<nav class="navbar fixed-bottom bg-dark maps-font">
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->
    <!-- <div class="container-fluid"> -->
        <div class="container-fluid btn-group my-1" id="navbarSupportedContent">
            <button id="nv-home" class="btn btn-outline-warning mx-1" href="#"> <i class="bi bi-house"></i> <%= username %>  </button>
            <button id="nv-friends" class="btn btn-outline-warning mx-1" href="#" disabled> <i class="bi bi-people"></i> Friends </button>
            <button id="nv-accountSettings" class="btn btn-outline-warning mx-1" href="#" disabled> <i class="bi bi-gear"></i> Account </button>
        </div>
    <!-- </div> -->
</nav>