<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="node_modules/leaflet/dist/leaflet.css"/>
<link rel="stylesheet" href="styles/mapStyling.css"/>
<script src="/node_modules/leaflet/dist/leaflet.js"></script>

<title>MapViewEJS Test</title>
