<div id="serverMsgField"></div>

<h1>Register</h1>

<form id="createAccount" action="/login/createAccount" method="POST">

    <div>
        <input type="text" name="name" id="name" required  class="form-control mb-2 bg-dark text-white" placeholder="Name">
    </div>
    <div>
        <input type="text" name="username" id="username" required  class="form-control mb-2 bg-dark text-white" placeholder="Username(public)">
    </div>
    <div>
        <input type="text" name="email" id="email" required  class="form-control mb-2 bg-dark text-white" placeholder="Email">
    </div>
    <div>
        <input type="password" name="password" id="password" required  class="form-control mb-2 bg-dark text-white" placeholder="Password">
    </div>
    <button class="btn btn-outline-dark mb-5 w-100" type="submit"><i class="bi bi-person-plus"></i> Register </button>
</form>
<button class="btn btn-outline-dark mt-4" id="get-login"><i class="bi bi-box-arrow-in-right"></i> Login </button>
<button class="btn btn-outline-dark mt-2" id="get-map"><i class="bi bi-people"></i> Guest </button>