<h1>Register</h1>

<form action="/login/createAccount" method="POST">

    <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" required>
    </div>
    <div>
        <label for="password">Password</label required>
        <input type="password" name="password" id="password">
    </div>
    <button type="submit">Register</button>
</form>
<button class="btn btn-outline-dark mt-4" id="get-login">Login</button>
<button class="btn btn-outline-dark mt-4" id="get-map">Guest</button>