<div class="container">
    <h3 class="mt-4">Pin Near You!</h3>
    <div>
        <label class="mt-2">Pin Name: </label>
        <p><%= randomPin.pinName %></p>
    </div>
    <div>
        <label class="mt-2">Category: </label>                                     
        <p><%= randomPin.pinCategory %></p>
    </div>
    <div>
        <label class="mt-2">Comments: </label>                                     
        <p><%= randomPin.comments %></p>
    </div>
    <div>
        <label class="mt-2">Author: </label>          
        <p><%= randomPin.username %></p>
    </div>
</div>