<div class="container">
    <h3 class="mt-4">Activity Near You!</h3>
    <div>
        <label class="mt-2">Pin Name:</label>                                     
    </div>
    <div>
        <label class="mt-2">Location:</label>                                     
    </div>
    <div>
        <label class="mt-2">Category:</label>                                     
    </div>
</div>