<!--Row 1-->
<div class="container-fluid h-100 bg-dark maps-font">
    
    <!--Column 1-->
    <div class="row">
        
        <div class="col-md-9 text-center d-flex flex-column justify-content-center text-white">
            
            <h1 class="display-1 text-center m-4"> End Game Maps 🗺️</h1>
            <hr>

            <div class="py-5">
                📍 An app by and for denizens of their respective cities to find cool or off-the-radar spots/activites!
                <h3 class="text-bold">What?</h3><br>
                The idea for the name comes from games, wherein a player has finished an area of a map or the whole map. What do they do now? Well find all those small collectibles & Easter Eggs! This tries to catalogue that a bit for locals.
                <h3 class="text-bold">Why?</h3><br>
                I feel like there’s a ton of boring blog travel guides articles for every city imaginable.
                They overlook many things that are more
                <ul>
                    <li class="list-item">niche</li>
                    <li class="list-item">off the radar</li>
                    <li class="list-item">new (fun?)</li>
                    <li class="list-item">Or anything that can fit synonymously with those</li>
                </ul><br>
                This is where the app fills a gap! Tag cool locations while you're out, or mark ones you know and share with friends.
            </div>

            <div class="pt-5 mt-1 pictures center">
                <img src='http://localhost:3000/assets/globe-icon.jpg'>
            </div>

        </div>

        <!--Column 2-->
        <div id="selector" class="col-md-3 text-center bg-warning d-flex flex-column justify-content-center h-auto">
            <% if (loggedIn) { %>
                <h3><%= username %></h3>
                <%- include('partials/startup') %>
            <%} else { %>
                <%- include('partials/accountMenu') %> 
            <% } %>

        </div>

    </div>

</div>