<div id="serverMsgField"></div>

<h1>Login</h1>

<% if(messages.error){ %>
    <%= messages.error %>
<% } %>

<form id="login" action="/login/loginSubmit" method="POST">
    <div>
        <input type="email" id="email" name="email" class="form-control mb-2 bg-dark text-white" placeholder="Email">
    </div>
    <div>
        <input type="password" name="password" id="password" class="form-control mb-2 bg-dark text-white" placeholder="Password">
    </div>
    <button class="btn btn-outline-dark mb-5 w-100" type="submit"><i class="bi bi-box-arrow-in-right"></i> Login </button>
    
</form>

<button class="btn btn-outline-dark mt-4" id="get-register"><i class="bi bi-person-plus"></i> Register </button>
<button class="btn btn-outline-dark mt-2" id="get-map"><i class="bi bi-people"></i> Guest </button>






