<div id="navbar"></div>

<div class="container-fluid text-white">
    <div class="row position-relative">

        <div class="col-md-4">


            <!-- Need help theres a bad bug where we cant click thru tabs... -->

            <!-- <nav>
                <div class="nav nav-pills nav-fill justify-content-center" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link" data-toggle="tab" id="sort-tab" href="#nav-sort" role="tab" aria-selected="false">Sort</a>
                    <a class="nav-item nav-link" data-toggle="tab" id="find-tab" href="#nav-find" role="tab" aria-selected="false">Find</a>
                    <a class="nav-item nav-link" data-toggle="tab" id="create-tab" href="#nav-create" role="tab" aria-selected="false">Create</a>
                    <a class="nav-item nav-link" data-toggle="tab" id="manage-tab" href="#nav-manage" role="tab" aria-selected="false">Manage</a>
                </div>
            </nav>
            <div class="tab-content text-white" id="nav-tabContent">
                <div class="tab-pane" id="nav-sort" role="tabpanel" aria-labelledby="nav-sort-tab"></div>
                <div class="tab-pane" id="nav-find" role="tabpanel" aria-labelledby="nav-find-tab"></div>
                <div class="tab-pane" id="nav-create" role="tabpanel" aria-labelledby="nav-create-tab"></div>
                <div class="tab-pane" id="nav-manage" role="tabpanel" aria-labelledby="nav-manage-tab"></div>
            </div> -->
            <section>
      
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item waves-effect waves-light">
                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Home</a>
                  </li>
                  <li class="nav-item waves-effect waves-light">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
                  </li>
                  <li class="nav-item waves-effect waves-light">
                    <a class="nav-link active" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                  </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane" id="home" role="tabpanel" aria-labelledby="home-tab">Raw denim you
                    probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master
                    cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                    dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia
                    cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</div>
                  <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">Food truck fixie
                    locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog
                    sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo
                    booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo
                    nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero
                    magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
                    shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher
                    vero sint qui sapiente accusamus tattooed echo park.</div>
                  <div class="tab-pane" id="contact" role="tabpanel" aria-labelledby="contact-tab">Etsy mixtape wayfarers,
                    ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi
                    farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore
                    carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred
                    pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk
                    vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork
                    sustainable tofu synth chambray yr.</div>
                </div>
        
            </section>
        </div>

        <div id='map' class="col-md-8"></div>

    </div>
</div>