<div id="navbar"></div>
<div class="container-fluid text-white">
    <div class="row position-relative">

        <div class="col-md-4">

            <nav class="nav nav-pills nav-fill justify-content-center">
                <button class="btn btn-outline-light m-2" href="#"> Sort </button>
                <button class="btn btn-outline-light m-2" href="#"> Find </button>
                <button class="btn btn-outline-light m-2" href="#"> Create </button>
                <button class="btn btn-outline-light m-2" href="#"> Manage </button>
            </nav>
        </div>

        <div id='map' class="col-md-8"></div>
    </div>
</div>