<div id="navbar"></div>

<div class="container-fluid text-white">
    <div class="row position-relative">

        <div class="col-md-4">

            <div class="btn-group justify-content-center" role="group">
				 
				<button id="sort-tab" class="btn btn-outline-light mt-4" type="button">
					Sort
				</button> 
				<button id="find-tab" class="btn btn-outline-light mt-4" type="button">
					Find
				</button> 
				<button id="create-tab" class="btn btn-outline-light mt-4" type="button">
					Create
				</button> 
				<button id="manage-tab" class="btn btn-outline-light mt-4" type="button">
					Pin Manage
				</button>
			</div>

            <div id="mapOutputView"></div>
            
        </div>

        <div id='map' class="col-md-8"></div>

    </div>
</div>