<% if (loggedIn) { %>
<%- include('partials/navbar') %> 
<%} else { %>
    <%- include('partials/defaultNav') %> 
<% } %>
<div class="container-fluid text-white">
    <div class="row position-relative">

        <div class="col-md-3">

            <div id="mapViewMenu" class="justify-content-center">
				<%- include('partials/mapMenu') %> 
			</div>

            <div class="container-fluid" id="mapOutputView"></div>
            
        </div>

        <div id='map' class="col-md-9"></div>

    </div>
</div>