<div id="navbar"></div>

<div class="container-fluid text-white">
    <div class="row position-relative">

        <div class="col-md-4">


            <!-- Need help theres a bad bug where we cant click thru tabs... -->

            
            <nav id='menu'>
                <input type='checkbox' id='responsive-menu'><label></label>
                <ul>
                  <li><a href='#'>Sort</a></li>
                  <li><a href='#'>Find</a></li>
                  <li><a href='#'>Create</a></li>
                  <li><a href='#'>Pin Manage</a></li>
                </ul>
            </nav>
            
        </div>

        <div id='map' class="col-md-8"></div>

    </div>
</div>