<div id="navbar"></div>

<div class="container-fluid text-white">
    <div class="row position-relative">

        <div class="col-md-3">

            <div id="mapViewMenu" class="btn-group justify-content-center" role="group">
				<%- include('partials/mapMenu') %> 
			</div>

            <div id="mapOutputView"></div>
            
        </div>

        <div id='map' class="col-md-9"></div>

    </div>
</div>