<!-- Navbar -->
<nav class="navbar navbar-expand-md bg-warning navbar-light maps-font">
    <!-- Container wrapper -->
    <div class="container-fluid">

        <!-- Search
        <form class="w-auto">
            <input
                type="search"
                class="form-control mt-1 bg-dark text-white justify-content-right"
                placeholder="Search"
                aria-label="Search"
            />
        </form> -->
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto"></ul>
                <!-- Navbar brand -->
                <button class="btn btn-outline-dark" href="#"> <i class="bi bi-house"></i> Home </button>
                <button class="btn btn-outline-dark mx-2" href="#"> <i class="bi bi-people"></i> Friends </button>
                <button class="btn btn-outline-dark" href="#"> <i class="bi bi-gear"></i> Account </button>
        </div>
    </div>
    <!-- Container wrapper -->
</nav>