<div class="container-fluid">
    <% if (loggedIn) { %>
        <div>
            <h2 class="text-white mt-3">
                <%= username %>'s  Pins: 
            </h2>
            <ol class="mt-3">
                <% for( let index = 0; index < usersPins.length; index++ ) { %>
                    <li class="list-item"><%= usersPins[index].pinName %> </li>
                <% } %>
            </ol>
        </div>
    <%} else { %>
        <%- include('partials/noAccount'); %>
    <% } %>
</div>