<h3 class="text-white">
    Your Pins: 
</h3>
<ol>
    <li class="list-item">
        Pin 1
    </li>
    <li class="list-item">
        Pin 2
    </li>
    <li class="list-item">
        Pin 3
    </li>
    <li class="list-item">
        Pin 4
    </li>
    <li class="list-item">
        Pin 5
    </li>
    <li class="list-item">
        Pin 6
    </li>
    <li class="list-item">
        Pin 7
    </li>
    <li class="list-item">
        Pin 8
    </li>
</ol>
