<div class="container">
    <div class="form-group mt-4">
        <h4>Pin Visibility Filter:</h4>
        <div>
            <input type="checkbox"> 
            <label>Your Pins</label>
            </div>

            <div>
                <input type="checkbox"> 
                <label>Friends Pins</label>
            </div>
        </div>
    
        <label class="mt-4">Categories:</label> 
        <div>
            <div>
                <input type="checkbox"> 
                <label> Niche </label>
            </div>
            <div >
                <input type="checkbox"> 
                <label>Oddity</label>
            </div>
            <div>
                <input type="checkbox"> 
                <label> First Encounter </label>
            </div>
        </div>
    </div>
</div>