#map{
    height: 100vh;
    width: max-content;
    flex-grow: 1;
  }

html, body {
    height: 100%;
 }

 body{
    padding: 0;
    margin: 0;
}

hr{
   width: 55%;
   margin: auto;
}

.maps-font{
   font-family: 'Cutive Mono', monospace;
}


.leaflet-popup-content-wrapper {
   background: rgb(207, 197, 100);

}

.leaflet-popup-content-wrapper .leaflet-popup-content {
   background-color: rgb(207, 197, 100);

   color: rgb(0, 0, 0);
}

.leaflet-popup-tip-container {
}