<div id="navbar"></div>
<div class="container-fluid text-white">
    <div class="row position-relative">

        <div class="col-md-4">


            <!-- Need help sorting this to look more presentable... -->

            <!-- <nav>
                <div class="nav nav-pills nav-fill justify-content-center" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link" data-toggle="tab" id="sort-tab" href="#nav-sort" role="tab" aria-selected="false">Sort</a>
                    <a class="nav-item nav-link" data-toggle="tab" id="find-tab" href="#nav-find" role="tab" aria-selected="false">Find</a>
                    <a class="nav-item nav-link" data-toggle="tab" id="create-tab" href="#nav-create" role="tab" aria-selected="false">Create</a>
                    <a class="nav-item nav-link" data-toggle="tab" id="manage-tab" href="#nav-manage" role="tab" aria-selected="false">Manage</a>
                </div>
            </nav>
            <div class="tab-content text-white" id="nav-tabContent">
                <div class="tab-pane" id="nav-sort" role="tabpanel" aria-labelledby="nav-sort-tab"></div>
                <div class="tab-pane" id="nav-find" role="tabpanel" aria-labelledby="nav-find-tab"></div>
                <div class="tab-pane" id="nav-create" role="tabpanel" aria-labelledby="nav-create-tab"></div>
                <div class="tab-pane" id="nav-manage" role="tabpanel" aria-labelledby="nav-manage-tab"></div>
            </div> -->
            <ul class="nav nav-tabs" id="mapMenu" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">home tab</div>
                <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">profile tab</div>
                <div class="tab-pane" id="contact" role="tabpanel" aria-labelledby="contact-tab">contact tab</div>
            </div>


            <!-- <ul class="nav nav-tabs nav-fill justify-content-center">
                <li class='nav-item'>
                    <a class='nav-link active' data-toggle='tab' href='#sort'>Sort</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link ' data-toggle='tab' href='#find'>Find</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link ' data-toggle='tab' href='#pinCreate'>Create</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link ' data-toggle='tab' href='#pinManage'>Manage</a>
                </li>
            </ul> -->
        
            <!-- Tab panes -->
            <!-- <div class="tab-content">
                <div class='tab-pane container fade show active' id='sort'><%- include('./sort') %></div>
                <div class='tab-pane container fade' id='find'><%- include('./find') %></div>
                <div class='tab-pane container fade' id='pinCreate'><%- include('./pinCreate') %></div>
                <div class='tab-pane container fade' id='pinManage'><%- include('./pinManage') %></div>
            </div> -->


            <!-- <nav class="nav nav-pills nav-fill justify-content-center">
                <button id="sort-btn" class="btn btn-outline-light m-2" href="#"> Sort </button>
                <button id="find-btn" class="btn btn-outline-light m-2" href="#"> Find </button>
                <button id="create-btn" class="btn btn-outline-light m-2" href="#"> Create </button>
                <button id="manage-btn" class="btn btn-outline-light m-2" href="#"> Manage </button>
            </nav> -->
        </div>

        <div id='map' class="col-md-8"></div>
    </div>
</div>